@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;700&display=swap");
main {
  background-image: url(../img/fondo_musical_arena.png); }

#MainDiscografia {
  background-image: url(../img/fondo_musical_dark.png); }

footer {
  background-color: #34113b;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.904);
  padding: 0 3%; }
  footer .footer__span {
    color: white; }
  footer a {
    padding: 0 0.1rem; }
    footer a:hover {
      /* pseudoclases */
      transform-origin: center center;
      animation: scale 0.12s ease-in-out forwards; }

@keyframes scale {
  to {
    transform: scale(1.1); } }

/*Nav-principal */
#logo {
  width: 40vw;
  height: auto; }

.text-bebas {
  font-family: "Bebas Neue", cursive; }

.bg-violet-nav {
  background-color: rgba(62, 12, 85, 0.904);
  font-family: "Bebas Neue", cursive;
  font-size: 2rem; }

#bg-violet-nav-li {
  /* rgba(62, 12, 85, 0.904) */
  background-color: rgba(62, 12, 85, 0.904);
  font-family: "Bebas Neue", cursive;
  font-size: 1rem; }

#bg-violet-nav-li a {
  /* pseudoclases */
  color: white; }
  #bg-violet-nav-li a:hover {
    background-color: #34113b; }

#menu_discografia li {
  text-align: center;
  box-sizing: border-box;
  font-size: 1.5rem;
  padding: 0.5rem;
  list-style: none;
  background-color: rgba(88, 80, 92, 0.904);
  width: 35vw; }
  #menu_discografia li a:hover {
    color: white; }

#inicio_about_bts li a,
#menu_discografia li a {
  font-family: "Bebas Neue", cursive;
  text-decoration: none;
  box-sizing: content-box;
  color: black; }

/* About_bts -sub menu */
#inicio_about_bts li {
  margin-right: 1rem;
  width: 20vw;
  text-align: center;
  box-sizing: border-box;
  font-size: 1.5rem;
  padding: 0.5rem;
  list-style: none;
  background-color: rgba(113, 32, 151, 0.904);
  /*Subrayado animado*/
  background-image: linear-gradient(rgba(90, 12, 105, 0.678), rgba(90, 12, 105, 0.678));
  background-position: 0% 100%;
  background-repeat: no-repeat;
  background-size: 0% 100%;
  transition: background-size .5s; }
  #inicio_about_bts li a {
    width: 15vw; }

/*index -  */
.lh-p {
  line-height: 1.5;
  background-color: #ead8c8; }

.ArticuloOverlay {
  width: 100vw; }

.TituloPrincipal {
  padding: 2rem;
  text-align: center; }

/*index - Contacto */
.ContenedorBts {
  display: flex;
  justify-content: space-evenly; }

.ContenedorBt {
  display: flex;
  justify-content: center; }

.ContenedorBt .bt,
.ContenedorBts .bt {
  padding: 0.5rem;
  text-decoration: none;
  background-color: #4d0b4d;
  color: grey; }

.bt:hover {
  /* pseudoclases */
  background-color: #3d1555d0;
  color: whitesmoke; }

.ContenedorBt .bt:hover,
.ContenedorBts .bt:hover {
  background-color: #3d1555d0;
  color: whitesmoke; }

.CardHorizontal {
  background-color: #d5ddef;
  border: 0; }

/*index - Infobts */
.Container {
  display: flex;
  justify-content: center; }

.ContainerImg {
  width: 60vw;
  height: auto; }

.ImgOverlay {
  display: none; }

/* index - mv */
.UltimoMv,
.UltimaColab,
.SolitarioMv {
  width: 300px;
  /* 600x337 */
  height: 168px; }

/* boton de to top */
.BtInicio {
  display: inline;
  position: sticky;
  top: 50%;
  margin: 1vw 0 0 1vw; }

.BtInicio a {
  text-decoration: none; }

/* discografia - portadas */
/* The slow way */
.make-it-slow {
  width: 40vw;
  border: 1px #adadad solid;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.3s ease-in-out;
  /* Transition to a bigger shadow on hover */ }
  .make-it-slow:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.555); }

.ContenedorPlayBoton {
  position: absolute;
  right: 15vw;
  top: 20vh; }

/* seccion de contacto */
fieldset {
  border: 0;
  margin: 1rem 10%;
  padding: 2rem; }
  fieldset legend {
    text-align: center;
    text-decoration: underline; }
  fieldset label {
    margin: 1rem 0 1rem 2rem; }

.Contactoparrafo {
  font-size: 1rem;
  padding: 1rem 10%; }

.mensaje {
  display: flex;
  flex-direction: column;
  border: 0;
  font-size: 1rem;
  margin: 1rem 10%;
  padding: 0; }

.mensaje__titulo {
  text-align: center;
  margin-bottom: 1rem; }

.BotonEnviar,
.BotonCancelar {
  padding: 0.5rem;
  font-size: 1rem;
  border-radius: 3px;
  margin: 0 6%; }

.contactoBt {
  margin: 3rem;
  text-align: center; }

.w-100vw {
  width: 100vw; }

@media (min-width: 576px) {
  .make-it-slow {
    width: 30vw; }
  .footer a {
    padding: 0 1rem; }
  #logo {
    width: 30vw;
    height: auto; }
  .ContenedorPlayBoton {
    right: 10vw;
    top: 20vh; }
  #menu_discografia li {
    width: 30vw; } }

@media (min-width: 1024px) {
  .make-it-slow {
    width: 20vw; }
  #logo {
    width: 20vw;
    height: auto; }
  /* discografia */
  .ContenedorPlayBoton {
    right: 6vw;
    top: 25vh; }
  .ContenedorComboBox {
    position: absolute;
    width: 98vw;
    top: 100vh; }
  #menu_discografia ul {
    padding: 0; }
  /* articulo con animacion */
  .ArticuloOverlay {
    width: 100vw; }
  .Imagenarticulo {
    width: 70vw; }
  .Container {
    position: relative;
    margin: 0 25%;
    align-items: center;
    width: 50%;
    max-width: 100%; }
    .Container .ContainerImg {
      display: block;
      width: 100%;
      height: auto; }
    .Container .ImgOverlay {
      display: block;
      position: absolute;
      bottom: 0;
      background: black;
      background: rgba(0, 0, 0, 0.5);
      /* Black see-through */
      color: #f1f1f1;
      width: 100%;
      transition: .5s ease;
      opacity: 0;
      color: white;
      font-size: 20px;
      padding: 20px;
      text-align: center; }
    .Container:hover .ImgOverlay {
      /* pseudoclases */
      opacity: 1; }
  /* index- mv */
  .UltimoMv {
    width: 600px;
    /* 600x337 */
    height: 337px; }
  .UltimaColab,
  .SolitarioMv {
    width: 420px;
    /* 600x337 */
    height: 236px; }
  #inicio_about_bts li:hover {
    /* pseudoclases */
    /*Subrayado animado*/
    background-size: 100% 100%; } }
