@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;700&display=swap');

main{
     background-image: url(../img/fondo_musical_arena.png);/* #a9adc1 *//* #DCDFEE*/
}
.bodyDiscografia{
    background-image: url(../img/fondo_musical_dark.png);
}
footer{
    background-color: #34113b    ;
}
/* main{
    background-color:#C9B6E7;
} */
/*Nav-principal */
#logo{
    width: 20vw;
    height: auto;
}
.text-bebas{
    font-family: 'Bebas Neue', cursive;

}
.nav-text{
    font-size: 2rem;
}
.bg-violet-nav{/* #2e0e36  *//* #4a2b55 *//* #202136 */
    background-color: rgba(62, 12, 85, 0.904);
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;;
}
.bg-violet-nav-ul{
    background-color:#57324c; 
    font-family: 'Bebas Neue', cursive;
    font-size: 2rem;
}
#bg-violet-nav-li{/* rgba(62, 12, 85, 0.904) */
    background-color: rgba(62, 12, 85, 0.904);
    font-family: 'Bebas Neue', cursive;
    font-size: 1rem;
}
/*index -  */
.lh-p{
    line-height: 1.5;
    background-color: beige;
}
.ArticuloOverlay{
    width: 100vw;
}
.TituloPrincipal{
    padding: 2rem;
    text-align: center;
}
/*index - Contacto */
.ContenedorBts{
    display: flex;
    justify-content: space-evenly;
}

#bt1 ,
#bt2,
#bt3{
    background-color:rgb(77, 11, 77)  ;
    color: grey;
}
.ContenedorBt{
    display: flex;
    justify-content: center;
}
.bt{
    padding: 0.5rem;
    text-decoration: none;
    background-color:rgb(77, 11, 77)  ;
    color: grey;
}
.bt:hover{
    background-color:#3d1555d0 ;
    color: whitesmoke;
}
#bt1:hover,
#bt2:hover,
#bt3:hover{
    background-color:#3d1555d0 ;
    color: whitesmoke;
}
.CardHorizontal{
    background-color: #d5ddef;
    border: 0;
}
/* boton de to top */
.BtInicio{
    display: inline;
    position: sticky;
    top: 50%;
    margin: 1vw 0 0 1vw;
}
/*index - Infobts */
.Container{
    display: flex;
    justify-content: center;
}
    .ContainerImg {
    width: 60vw;
    height: auto;
    }
    
    .ImgOverlay {
        display: none;
    }
/* index - mv */
.UltimoMv,
.UltimaColab,
.SolitarioMv{
    width: 360px; /* 600x337 */
    height: 202px;
}
/* Footer */
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.904);
    padding: 0 3%;
}
.footer a{
 padding: 0 1rem;
}

.footer__span{
    color: white;
}
.footer a:hover img {
    transform-origin: center center;
    animation: scale 0.12s ease-in-out forwards;
  }
  @keyframes scale {
    to {
      transform: scale(1.1);
    }
}
/* Inicio de media lg(bs)*/
@media (min-width: 992px){
    .ArticuloOverlay{
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    }
    .Imagenarticulo{
        width: 70vw;
    }
    .Container {
        position: relative;
        margin: 0 25%;
        align-items: center;
        width: 50%;
        max-width: 100%;
    }
        .ContainerImg {
        display: block;
        width: 100%;
        height: auto;
        }
        .ImgOverlay {
        display: block;
        position: absolute; 
        bottom: 0; 
        background: rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.5); /* Black see-through */
        color: #f1f1f1; 
        width: 100%;
        transition: .5s ease;
        opacity:0;
        color: white;
        font-size: 20px;
        padding: 20px ;
        text-align: center;
        }
        .Container:hover 
        .ImgOverlay {
        opacity: 1;
        }
    /* index- mv */
    .UltimoMv{
        width: 600px; /* 600x337 */
        height: 337px;
    }
    .UltimaColab,
    .SolitarioMv{
        width: 420px; /* 600x337 */
        height: 236px;
    }
    /* About_bts -sub menu */
    #inicio_about_bts li{
        text-align: center;
        box-sizing: border-box;
        font-size: 1.5rem;
        padding: 0.5rem;
        list-style: none;
        background-color: rgba(37, 13, 48, 0.904); 
        /*Subrayado animado*/
        background-image: linear-gradient(rgba(90, 12, 105, 0.678), rgba(90, 12, 105, 0.678));
        background-position: 0% 100%;
        background-repeat: no-repeat;
        background-size: 0% 100%;
        transition: background-size .5s;
    }
    #inicio_about_bts li:hover{
        /*Subrayado animado*/
			background-size: 100% 100%;
    }
    #inicio_about_bts li a{
        font-family: 'Bebas Neue', cursive;
        text-decoration: none;
        box-sizing: content-box;
        color:black;
}
}

