@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:wght@400;700&display=swap');
@import "_vars";

//mixin
@mixin width-height ($width , $height) {
    width: $width;
    height: $height;
}
//extend
.nav-li{
    text-align: center;
    box-sizing: border-box;
    font-size: 1.5rem;
    padding: 0.5rem;
    list-style: none;
}


//Comienzo de main
.bg_form{
    background-image: $bg-main;
    width: 100%;
    border-radius: 10px;
    h2 , h3 ,figcaption ,p{
        @extend .lh-p;
    }
    input , textarea{
        border-radius: 10px;
    }
}
main{
    background-image: $bg-main;
    h1,h2,h3{
    @extend .lh-p;
    }
}
#MainDiscografia,
.main_contact{
    background-image: $bg-main-discografia;
    h2 , h3 ,figcaption ,p{
        background-color: #7a718e;
    }
    .t_disc{
        padding-top: 2rem;
    }
}

//Fin de main
//Comienzo de footer
footer{
    background-color: map-get($map:$bg-color, $key:'footer');
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.904);
    padding: 0 3%;
    .footer__span{
        color: white;
    }
    a{
        padding: 0 0.1rem;
        &:hover{ /* pseudoclases */
            transform-origin: center center;
            animation: scale 0.12s ease-in-out forwards;
        }
    }
    @media(max-width : 576px) {
        .footer__span{
            display: block;
        }
    }
}
@keyframes scale {    
    to {
        transform: scale(1.1);
    }
}
//Fin de footer
//Comienzo de navs
/*Nav-principal */
#logo{
    @include width-height(40vw, auto);
}
.text-bebas{
    font-family: $ft-bebas;
}

.bg-violet-nav{
    background-color: map-get($map:$bg-color, $key:'nav');
    font-family: $ft-bebas;
    font-size: 2rem;
}

#bg-violet-nav-li{/* rgba(62, 12, 85, 0.904) */
    background-color: map-get($map:$bg-color, $key:'nav');
    font-family:$ft-bebas;
    font-size: 1rem;
}
#bg-violet-nav-li a{/* pseudoclases */
    color: white;
    &:hover{
        background-color: map-get($map:$bg-color, $key:'footer');
    }
}

#menu_discografia li{
    @extend .nav-li;
    background-color: rgba(88, 80, 92, 0.904); 
    width: 50vw;
    a{
        &:hover{
            color: white;
        }
    }
}

//bucle
@each $nav-a in inicio_about_bts, menu_discografia{
    ##{$nav-a} li a{
        font-family: $ft-bebas;
        text-decoration: none;
        box-sizing: content-box;
        color:black;  
    }
}
/* About_bts -sub menu */
#inicio_about_bts ul{
    padding-top: 5rem;
    padding-bottom: 0;
    display: grid;
    grid-template-columns: 1fr  ;
    grid-template-rows: repeat(16 ,auto);
    grid-template-areas: 
    "intro"
    " prog"
    "bh "
    "btsarmy"
    "albun "
    "colab"
    "mix "
    "single";
    grid-row-gap: 5vh;
    align-items: center;
    li{
        @extend .nav-li;
        margin-right: 1rem;
        width: 40vw;
        background-color: rgba(113, 32, 151, 0.904); 
        /*Subrayado animado*/
        background-image: linear-gradient(rgba(90, 12, 105, 0.678), rgba(90, 12, 105, 0.678));
        background-position: 0% 100%;
        background-repeat: no-repeat;
        background-size: 0% 100%;
        transition: background-size .5s;
        font-size: 1.5rem;
        padding: 0.5vw;
        justify-self: center;
        a{
            width: 15vw;
        }
    }
}
#intro{
    grid-area: intro;
}
#albun{
    grid-area: albun;
}
#prog{
    grid-area: prog;
}
#colab{
    grid-area: colab;
}
#bh{
    grid-area: bh;
}
#mix{
    grid-area: mix;
}
#btsarmy{
    grid-area: btsarmy;
}
#single{
    grid-area: single;
}
//Fin de navs

//Comienzo de index
/*index -  */
.lh-p{
    background-color: map-get($map:$bg-color, $key:'text');
}


.ArticuloOverlay{
    width: 100vw;
}
.TituloPrincipal{
    padding: 2rem;
    text-align: center;
}
/*index - Contacto */
.ContenedorBts{
    display: flex;
    justify-content: space-evenly;
}

.ContenedorBt{
    display: flex;
    justify-content: center;
}
.ContenedorBt .bt,
.ContenedorBts .bt{
    padding: 0.5rem;
    text-decoration: none;
    background-color:rgb(77, 11, 77)  ;
    color: grey;
}
.bt:hover{ /* pseudoclases */
    background-color:#3d1555d0 ;
    color: whitesmoke;
}
.ContenedorBt .bt:hover,
.ContenedorBts .bt:hover{
    background-color:#3d1555d0 ;
    color: whitesmoke;
}
.CardHorizontal{
    background-color: #d5ddef;
    border: 0;
}
/*index - Infobts */
.Container{
    display: flex;
    justify-content: center;
}
    .ContainerImg {
    @include width-height(70vw, auto);
    }
    
    .ImgOverlay {
        display: none;
    }
/* index - mv */
.UltimoMv,
.UltimaColab,
.SolitarioMv{
    @include width-height(300px, 168px);
}
//Fin de index

/* boton de to top */
.BtInicio{
    display: inline;
    position: sticky;
    top: 50%;
    margin: 1vw 0 0 1vw;
}
.BtInicio a{
    text-decoration: none;
}

//Comienzo Discografia
/* discografia - portadas */
.w-gif{ 
    width: 100%;
}
/* The slow way */
.make-it-slow {
    width: 60vw;
    border: 1px rgb(173, 173, 173) solid;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: box-shadow 0.3s ease-in-out;
    /* Transition to a bigger shadow on hover */
    &:hover{
        box-shadow: 0 5px 15px rgba(0, 0, 0, 0.555);
    }
}
.ContenedorPlayBoton{
    display: none
}
//Fin Discografia
//Comienzo about_bts
.IntroduccionDeMiembros img ,
.card div img{
    @include width-height(60%, auto);
}

//Comienzo Contacto
/* seccion de contacto */
fieldset{
    border: 0 ;
    margin: 1rem 10%;
    padding: 2rem;
    legend{
        text-align: center;
        text-decoration: underline;
    }
    label{
        margin: 1rem 0 1rem 2rem;
    }
}

.Contactoparrafo{
    font-size: 1rem;
    padding: 1rem 10%; 
}

.mensaje{
    border: 0 ;
    font-size: 1rem;
    margin: 1rem 10%;
    padding: 0;

}
.mensaje__titulo{
    margin-bottom: 1rem;
}
.BotonEnviar ,
.BotonCancelar{
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 3px;
    margin: 0 6%;
}
.contactoBt{
    padding: 1rem;
}
//Fin Contacto

.w-100vw{
    width: 100%;
}
#link-discografia{
    font-size: 5rem;
}
@media (min-width:576px){
    .IntroduccionDeMiembros img,
    .card div img {
        @include width-height(50%, auto);
    }
    #inicio_about_bts li{
    width: 40vw;
    }
    #inicio_about_bts ul{
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: repeat(8 ,auto);
        grid-template-areas: 
        "intro prog"
        "bh btsarmy"
        "albun colab"
        "mix single";
        grid-column-gap: 0;
        grid-row-gap: 5vh;
    }
    #link-discografia{
        font-size: 1rem;
    }
    .make-it-slow {
        width: 35vw;
    }
    .footer a{
        padding: 0 1rem;
    }
    #logo{
        @include width-height(30vw, auto);
    }
    .ContenedorPlayBoton{
        display: inline;
        position: absolute;
        right: 5vw;
        top:80vh;
    }
    #menu_discografia li{
        width: 30vw;
    }
    /* index- mv */
    .UltimoMv,
    .UltimaColab,
    .SolitarioMv{
        @include width-height(420px, 236px);
    }
}
@media(min-width: 768px){
    .bg_form{
        width: 80%;
    }
    .card div img{
        @include width-height(80%, auto);
    }
    .IntroduccionDeMiembros img{
        @include width-height(100%, auto);
    }
}
@media (min-width: 992px){

    #link-discografia{
        font-size: 1rem;
    }
    .make-it-slow {
        width: 20vw;
    }
    #logo{
        @include width-height(20vw, auto);
    }
    /*sub menu - aboutbts*/
    #inicio_about_bts ul{
        padding: 2rem 10rem;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: auto auto;
        grid-template-areas: 
        "intro prog bh btsarmy"
        "albun colab mix single";
        justify-content: center;
        grid-column-gap: 0;
        grid-row-gap: 5vh;
    }
    #inicio_about_bts ul li{
        font-size: 1.5rem;
        width: 15vw;
        padding: 1vw;
        justify-self: center;
    }
    .IntroduccionDeMiembros img ,
    #flush-collapseThree img{
        @include width-height(70%, auto);
    }
    /* discografia */
    .ContenedorPlayBoton{
        right: 8vw;
        top:38vh;
    }
    .ContenedorComboBox{
        position: absolute;
        width: 96.5vw;
        top:100vh;
        left: 1vw;
    }
    #menu_discografia ul{
        padding: 0;
    }
     /* articulo con animacion */
    .ArticuloOverlay{
    width: 100vw;
    }
    .Imagenarticulo{
        width: 70vw;
    }
    .Container {
        position: relative;
        margin: 0 25%;
        align-items: center;
        width: 50%;
        max-width: 100%;
        .ContainerImg {
        display: block;
        @include width-height(100%, auto);
        }
        .ImgOverlay {
        display: block;
        position: absolute; 
        bottom: 0; 
        background: rgb(0, 0, 0);
        background: rgba(0, 0, 0, 0.5); /* Black see-through */
        color: #f1f1f1; 
        width: 100%;
        transition: .5s ease;
        opacity:0;
        color: white;
        font-size: 20px;
        padding: 20px ;
        text-align: center;
        }
        &:hover .ImgOverlay {/* pseudoclases */
        opacity: 1;
        }
    }
    .UltimoMv{
        @include width-height(600px, 337px);
    }
    
    #inicio_about_bts li:hover{  /* pseudoclases */
        /*Subrayado animado*/
			background-size: 100% 100%;
    }
    .w-gif{
        width: 90%;
    }
    /* form */
    .bg_form{
        width: 70%;
    }
}
